ol {
  margin-bottom: 10px;
}

input[type="text"] {
  border: none;
  width: 100%;
  background: #8c919b10;
  padding: 12px;
  color: rgb(28, 169, 250);
  outline: none;
  font-size: 30px;
  letter-spacing: 0.6px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 20px;
}

::placeholder {
  font-size: 30px;
  letter-spacing: 0.6px;
  color: #42485440;
  font-weight: 300;
}

input.addForm[type="text"] {
  background: none;
  width: 60%;
}

input.addForm[type="text"]::placeholder {
  background: none;
  color: rgb(28, 169, 250);
}

.todoAnim-enter {
  opacity: 0;
  transform: translateX(8px);
}

.todoAnim-enter.todoAnim-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 500ms ease-out;
}

.todoAnim-exit {
  opacity: 1;
  transform: translateX(0px);
}

.todoAnim-exit.todoAnim-exit-active {
  opacity: 0;
  transform: translateX(8px);
  transition: all 500ms ease-out;
}
